@page "/AddAdult"
@using global::Models
@using DNPAssignment1.Data
@using DNPAssignment1.Models.Enums
@inject ICachingService CachingService;
@inject NavigationManager NavigationManager;

<h3>Add adult</h3>
<EditForm Model="@newAdult" OnValidSubmit="@AddNewAdult">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group">
        First name: <br/>
        <InputText @bind-Value="newAdult.FirstName"/>
    </div>
    <div class="form-group">
        Last name: <br/>
        <InputText @bind-Value="newAdult.LastName"/>
    </div>    
    <div class="form-group">
        Hair colour: <br/>
        <InputSelect @bind-Value="newAdult.HairColor">
            @foreach (var value in Enum.GetValues(typeof(HairColours)))
            {
                <option>@value</option>
            }
        </InputSelect>
    </div>   
    <div class="form-group">
        Eye colour: <br/>
        <InputSelect @bind-Value="newAdult.EyeColor">
            @foreach (var value in Enum.GetValues(typeof(EyeColours)))
            {
                <option>@value</option>
            }
        </InputSelect>
    </div>
    <div class="form-group">
        Age:<br />
        <InputNumber @bind-Value="newAdult.Age" />
    </div>
    <div class="form-group">
        Weight:<br />
        <InputNumber @bind-Value="newAdult.Weight" />
    </div>    
    <div class="form-group">
        Height:<br />
        <InputNumber @bind-Value="newAdult.Height" />
    </div>    
    <div class="form-group">
        Sex: <br/>
        <InputSelect @bind-Value="newAdult.Sex">
                <option>Male</option>
                <option>Female</option>
                <option>Other</option>
        </InputSelect>
    </div>
    <div class="form-group">
        Job Title: <br/>
        <InputSelect @bind-Value="newAdult.JobTitle">
            @foreach (var value in Enum.GetValues(typeof(Jobs)))
            {
                <option>@value</option>
            }
        </InputSelect>
    </div>       
    <p class="actions">
        <button class="btn btn-outline-dark" type="submit">Create</button>
    </p>
</EditForm>

@code {
    private Adult newAdult = new Adult();
    
    private void AddNewAdult()
    {
        System.Console.WriteLine(newAdult.JobTitle + newAdult.FirstName + newAdult.EyeColor);
         CachingService.AddAdult(newAdult);
        NavigationManager.NavigateTo("/Families");
    }
}
