@page "/FamilyEdit/{import}"
@using DNPAssignment1.Data
@using DNPAssignment1.Models
@using global::Models
@inject IFamilyService CloudFamilyService
@inject ICachingService CachingService
@if (family != null)
{
    <h4>
        Address:
    </h4>
    <h3>@family.StreetName @family.HouseNumber</h3>
    <br />
    @if (family.Adults.Count > 0)
    {
        @if (family.Adults.Count > 1)
        {
            <h4>Adults: </h4>
        }
        else
        {
            <h4>Adult: </h4>
        }
        <div class="famDetailContainer">
            @foreach (Adult adult in family.Adults)
            {
                <div class="famDetailItem">
                    <p>@adult.FirstName @adult.LastName</p>
                    <p>Age: @adult.Age</p>
                    <p>Height: @adult.Height</p>
                    <p>Weight: @adult.Weight</p>
                    <p>Hair Color: @adult.HairColor</p>
                    <p>Eye Color: @adult.EyeColor</p>
                    <p>Sex: @adult.Sex</p>
                    <p>Job: @adult.JobTitle</p>
                </div>
            }
        </div>
    }

    @if (family.Children != null)
    {
        @if (family.Children.Count > 1)
        {
            <h4>Children: </h4>
        }
        else
        {
            <h4>Child: </h4>
        }
        <div class="famDetailContainer">
            @foreach (Child child in family.Children)
            {
                <div class="famDetailItem">
                    <p>@child.FirstName @child.LastName</p>
                    <p>Age: @child.Age</p>
                    <p>Height: @child.Height</p>
                    <p>Weight: @child.Weight</p>
                    <p>Hair Color: @child.HairColor</p>
                    <p>Eye Color: @child.EyeColor</p>
                    <p>Sex: @child.Sex</p>
                    @foreach (ChildInterest intrest in child.ChildInterests)
                    {
                        <p>Interest: @intrest.InterestId</p>
                    }
                </div>
            }
        </div>
    }
    @if (family.Pets != null)
    {
        @if (family.Pets.Count > 1)
        {
            <h4>Pets: </h4>
        }
        else
        {
            <h4>Pet: </h4>
        }
        <div class="famDetailContainer">
            @foreach (Pet pet in family.Pets)
            {
                <div class="famDetailItem">
                    <p>@pet.Name</p>
                    <p>Age: @pet.Age</p>
                    <p>Species: @pet.Species</p>
                </div>
            }
        </div>
    }
}

@code {
    [Parameter]
    public string import { get; set; }

    string[] atts;

    public Family family = new Family();

    protected override async Task OnParametersSetAsync()
    {
        //the param will be set now
        atts = import.Split(new[] { "-" }, StringSplitOptions.RemoveEmptyEntries);

        family = await CloudFamilyService.GetFamilyAsync(atts[0], Int32.Parse(atts[1]));
    }


}
